{% extends "base_generic.html" %} {% block content %}

  <form action="" method="post">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    


<!-- app title card --->
<div class="card border-secondary mb-3">
    <div class="card-header">
        <p style="text-align:left;">

            {{ form.site  }}
            
        </p>
    </div>
    <div class="card-body">
        <h4 class="card-title">{{ form.app_ref  }} 
        <p class="card-text">
        
        <i>{{ form.address  }}</i></h4>
        
        </p>
    </div>
</div>
<!-- tabs-->
<div>
    <ul class="nav nav-tabs">
        <li><a class="nav-link active" data-toggle="tab" href="#appinfo">App Info</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#plots">Plots</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#trajectory">Trajectory</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#history">Planning history</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#map">Map</a></li>
        <li><a class="nav-link" data-toggle="tab" href="#notes">Notes</a></li>
    </ul>
</div>

<!-- content-->
<div id="myTabContent" class="tab-content">
    <!-- tab 1-->
    <div class="tab-pane fade show active" id="appinfo">
        <div style="margin-top:20px">
            <!--proposal container -->
            <div class="card border-light mb-3">
                <div class="card-header">
                    <p><strong>Proposal</strong></p>
                </div>
                <div class="card-body">
                    <p class="card-text"><i>{{ form.proposal  }}</i></p>
                </div>
            </div>

            <!--Details container -->
            <div class="card border-light mb-3">
                <div class="card-header">
                    <p><strong>Details</strong></p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <div class="row">
                            <div class="col">
                                {{ form.policy  }}
                                <br />
                                {{ form.parish  }}
                                <br />
                                <strong>Settlement: </strong> Needs nested list
                                <br />
                            </div>
                            <div class="col">
                                {{ form.app_type  }}
                                <br />
                                {{ form.dev_type   }}
                                <br />
                                {{ form.pdl  }}
                                <br />
                            </div>
                        </div>
                    </p>
                </div>
            </div>

            <!--Dates container -->
            <div class="card border-light mb-3">
                <div class="card-header">
                    <p><strong>Key Dates</strong></p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <div class="row">
                            <div class="col">
                                {{ form.decision_date  }}
                                <br />
                                {{ form.appeal_decision_date  }}
                                <br />
                                {{ form.committee_decision_date  }}
                                <br />
                            </div>
                            <div class="col">
                                {{ form.superseded_by_app  }}
                                <br />
                                {{ form.superseded_date   }}
                                <br />
                                {{ form.lapse_date  }}
                                <br />
                            </div>
                        </div>
                    </p>
                </div>
            </div>

            <!--Dwellings container -->
            <div class="card border-light mb-3">
                <div class="card-header">
                    <p><strong>Dwellings</strong></p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <div class="row">
                            <div class="col">
                                {{ form.site_capacity  }}

                            </div>
                            <div class="col">
                                {{ form.units_lost  }}

                            </div>
                        </div>

                        
                </div>
                </p>
            </div>
        </div>

        <!--Status container -->
        <div class="card border-light mb-3">
            <div class="card-header">
                <p><strong>Overide status</strong></p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <div class="row">
                        <div class="col">
                            <strong>Lapsed: </strong>{{ form.lapsed   }}
                            <br />
                        </div>
                        <div class="col">
                            <strong>Not applicable: </strong>{{ form.not_applicable  }}
                            {{ form.author }}

                            <br />
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>

    <!-- tab 2-->
    <div class="tab-pane fade" id="plots">
        <div style="margin-top:20px">
            
            <div class="card border-light mb-3">
                <div class="card-header">
                    <p style="text-align:left;"><strong></strong>
                        <span style="float:right;">
               <strong>[add current plot status calc]</strong>
               </span>
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                                {{ plot_formset|crispy }}
                                
                            </div>
                        </div>
                    </p>
                </div>
            </div>
            

    <!-- tab 3-->
    <div class="tab-pane fade" id="trajectory">
        <div style="margin-top:20px">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Yr1</th>
                        <th scope="col">Yr2</th>
                        <th scope="col">Yr3</th>
                        <th scope="col">Yr4</th>
                        <th scope="col">Yr5</th>
                        <th scope="col">Yr6</th>
                        <th scope="col">Yr7</th>
                        <th scope="col">Yr8</th>
                        <th scope="col">Yr9</th>
                        <th scope="col">Yr10</th>
                        <th scope="col">Yr11</th>
                        <th scope="col">Yr12</th>
                        <th scope="col">Yr13</th>
                        <th scope="col">Yr14</th>
                        <th scope="col">Yr15</th>
                        <th scope="col">Yr16</th>
                        <th scope="col">Yr17</th>
                        <th scope="col">Yr18</th>
                        <th scope="col">Yr19</th>
                        <th scope="col">Yr20</th>
                        <th scope="col"><b>Total</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>{{ planningapp.year_01 }}</strong></td>
                        <td><strong>{{ planningapp.year_02 }}</strong></td>
                        <td><strong>{{ planningapp.year_03 }}</strong></td>
                        <td><strong>{{ planningapp.year_04 }}</strong></td>
                        <td><strong>{{ planningapp.year_05 }}</strong></td>
                        <td>{{ planningapp.year_06 }}</td>
                        <td>{{ planningapp.year_07 }}</td>
                        <td>{{ planningapp.year_08 }}</td>
                        <td>{{ planningapp.year_09 }}</td>
                        <td>{{ planningapp.year_10 }}</td>
                        <td>{{ planningapp.year_11 }}</td>
                        <td>{{ planningapp.year_12 }}</td>
                        <td>{{ planningapp.year_13 }}</td>
                        <td>{{ planningapp.year_14 }}</td>
                        <td>{{ planningapp.year_15 }}</td>
                        <td>{{ planningapp.year_16 }}</td>
                        <td>{{ planningapp.year_17 }}</td>
                        <td>{{ planningapp.year_18 }}</td>
                        <td>{{ planningapp.year_19 }}</td>
                        <td>{{ planningapp.year_20 }}</td>
                        <td><strong>{{ planningapp.trajectory_total }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top:20px">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Warning!</h4>
                <p class="mb-0">Update this to only show if trajectory total doesn't match net commitment</p>
            </div>
            <div style="margin-top:20px">
                <div class="card border-light mb-3">
                    <div class="card-header">
                        <p>Trajectory comments / justification (public)</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ planningapp.traj_comments }}</p>
                    </div>
                </div>
            </div>
            <div style="margin-top:20px">
                <div class="card border-warning mb-3">
                    <div class="card-header">
                        <p>Internal notes</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ planningapp.traj_internal_notes }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- tab 4-->
    <div class="tab-pane fade" id="history">
        <div style="margin-top:20px">
            <div class="card border-light mb-3">
                <div class="card-header">
                    <p><strong>Planning history</strong>
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>Previous apps: </strong>{{ planningapp.planning_history }}
                        <br /> <br /><strong>Application file [external link]: </strong>{{ planningapp.application_docs_url|default_if_none:"" }}

                    </p>
                </div>
               </div>

            
            <div class="card border-light mb-3">
                <div class="card-header">
                    <p><strong>Apps pending consideration: </strong>
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                       <strong>New apps: </strong>{{ planningapp.additional_app }}
                    </p>
                </div>
            </div>
            </div>
            </div>
         
   <!-- tab 5-->
    <div class="tab-pane fade" id="map">
        <div style="margin-top:20px">
            
            <div class="card border-light mb-3">
                <div class="card-header">
                    <p><strong>Site plan</strong>
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                  [Add image file here:] {{ planningapp.site_plan_url }}<br />
                    </p>
                </div>
            </div>
            
            <div class="card border-light mb-3">
                <div class="card-header">
                    <p>Coordinates & Area
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text">
                     <div class="row">
                     <div class="col">
                    <strong>Easting: </strong>{{ planningapp.easting|default_if_none:"" }}<br />
                    <strong>Northing: </strong>{{ planningapp.northing|default_if_none:"" }}<br />
                    </div>
                    <div class="col">
                    <strong>Area (ha): </strong>{{ planningapp.site_area }}<br />
                    <strong>Density (dph): </strong>{{ planningapp.density }}<br />
                    </p>
                    </div>
                    </div>
                </div>
            </div>
 
        </div>
    </div>    

    <!-- tab 6-->
    <div class="tab-pane fade" id="notes">
        <div style="margin-top:20px">   
         
            <div class="card border-warning mb-3">
                <div class="card-header">
                    <p style="text-align:left;"><strong></strong>
                        <span style="float:right;">
               <strong></strong>
               </span>
                    </p>
                </div>
                <div class="card-body">
                    <p class="card-text">{{note_formset|crispy }}</p>
                </div>
            </div>
  
        </div>
    </div>
    
    <input type="submit" value="Submit">
  </form>
  
              {{ form.errors }} {{ note_formset.errors }} {{ plot_formset.errors }}
    
    {% endblock %}
<div class="row mt-3">
</div>
</div>
