{% extends "base_generic.html" %} {% block content %}

<script>
function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}
</script>

<div style="width:90%">
   <form action="" method="post">
      {% csrf_token %}
      {% load crispy_forms_tags %}
      <!-- app title card --->
      <div class="card border-primary mb-3">
         <div class="card-header">
            <p style="text-align:left;">
            <h4><strong>{{ planningapp_form.site | as_crispy_field }}</strong></h4>
            <a href="/monitoring/site/add/"  class="btn btn-primary" role="button">Add new site</a>
            </p>
         </div>
         <div class="card-body">
            <h5 class="card-title">{{ planningapp_form.app_ref | as_crispy_field }}</h5>
            <p class="card-text">
            <h5>{{ planningapp_form.address | as_crispy_field }}</h5>
            </p>
         </div>
      </div>
      <!-- tabs-->
      <div>
         <ul class="nav nav-tabs">
            <li>
               <a class="nav-link active" data-toggle="tab" href="#appinfo">
                  <h5><strong>App Info</strong></h5>
               </a>
            </li>
            <li>
               <a class="nav-link" data-toggle="tab" href="#plots">
                  <h5><strong>Plots</strong></h5>
               </a>
            </li>
            <li>
               <a class="nav-link" data-toggle="tab" href="#trajectory">
                  <h5><strong>Trajectory</strong></h5>
               </a>
            </li>
            <li>
               <a class="nav-link" data-toggle="tab" href="#history">
                  <h5><strong>Planning history</strong></h5>
               </a>
            </li>
            <li>
               <a class="nav-link" data-toggle="tab" href="#map">
                  <h5><strong>Map</strong></h5>
               </a>
            </li>
            <li>
               <a class="nav-link" data-toggle="tab" href="#notes">
                  <h5><strong>Notes</strong></h5>
               </a>
            </li>
         </ul>
      </div>
      <!-- content-->
      <div id="myTabContent" class="tab-content">
         <!-- tab 1-->
         <div class="tab-pane fade show active" id="appinfo">
            <div style="margin-top:20px">
               <!--proposal container -->
               <div class="card border-primary mb-3">
                  <div class="card-header">
                     <p>
                     <h4><strong>Proposal</strong></h4>
                     </p>
                  </div>
                  <div class="card-body">
                     <p class="card-text">
                     <h5>{{ planningapp_form.proposal | as_crispy_field  }}</h5>
                     </p>
                  </div>
               </div>
               <!--Details container -->
               <div class="card border-primary mb-3">
                  <div class="card-header">
                     <p>
                     <h4><strong>Details</strong></h4>
                     </p>
                  </div>
                  <div class="card-body">
                     <p class="card-text">
                     <div class="row">
                        <div class="col">
                           <h5>{{ planningapp_form.policy | as_crispy_field }}</h5>
                           <br />
                           <h5>{{ planningapp_form.parish | as_crispy_field }}</h5>
                           <br />
                           <strong>Settlement: </strong> Needs nested list
                           <br />
                        </div>
                        <div class="col">
                           <h5>{{ planningapp_form.app_type | as_crispy_field }}</h5>
                           <br />
                           <h5>{{ planningapp_form.dev_type | as_crispy_field  }}</h5>
                           <br />
                           <h5>{{ planningapp_form.pdl | as_crispy_field }}</h5>
                           <br />
                        </div>
                     </div>
                     </p>
                  </div>
               </div>
               <!--Dates container -->
               <div class="card border-primary mb-3">
                  <div class="card-header">
                     <h4><strong>Key Dates</strong></h4>
                  </div>
                  <div class="card-body">
                     <p class="card-text">
                     <div class="row">
                        <div class="col">
                           <h5>{{ planningapp_form.decision_date | as_crispy_field }}</h5>
                           <br />
                           <h5>{{ planningapp_form.committee_decision_date | as_crispy_field }}</h5>
                           <br />
                           <h5>{{ planningapp_form.superseded_date | as_crispy_field  }}</h5>
                           <br />
                        </div>
                        <div class="col">
                           <h5>{{ planningapp_form.appeal_decision_date | as_crispy_field }}</h5>
                           <br />
                           <h5>
                           {{ planningapp_form.lapse_date | as_crispy_field }}
                           <br />
                           <h5>{{ planningapp_form.superseded_by_app | as_crispy_field }}</h5>
                           <br />
                        </div>
                     </div>
                     </p>
                  </div>
               </div>
               <!--Dwellings container -->
               <div class="card border-primary mb-3">
                  <div class="card-header">
                     <h4><strong>Dwellings</strong></h4>
                  </div>
                  <div class="card-body">
                     <p class="card-text">
                     <div class="row">
                        <div class="col">
                           <h5>{{ planningapp_form.site_capacity | as_crispy_field }}</h5>
                        </div>
                        <div class="col">
                           <h5>{{ planningapp_form.units_lost | as_crispy_field }}</h5>
                        </div>
                     </div>
                  </div>
                  </p>
               </div>
            </div>
            <!--Status container -->
            <div class="card border-primary mb-3">
               <div class="card-header">
                  <h4><strong>Overide status</strong></h4>
               </div>
               <div class="card-body">
                  <p class="card-text">
                  <div class="row">
                     <div class="col">
                        <h5>{{ planningapp_form.lapsed | as_crispy_field  }}</h5>
                        <br />
                     </div>
                     <div class="col">
                        <h5>{{ planningapp_form.not_applicable | as_crispy_field }}</h5>
                        {{ planningapp_form.author }}
                        <br />
                     </div>
                  </div>
                  </p>
               </div>
            </div>
         </div>
         <!-- tab 2-->
         <div class="tab-pane fade" id="plots">
            <div style="margin-top:20px">
               {{ plot_formset.management_form }}
               {% for plotform in plot_formset %}
               
               
            <div class='table'>
            <table class='no_error'>
               {{ plotform.as_table }}
                </table>
                </div>
               {% endfor %} 
               
               <input type="button" value="Add More" id="add_more">
                <script>
                $('#add_more').click(function() {
                    cloneMore('div.table:last', 'service');
                    });
                </script>
                
            </div>
         </div>
         <!-- tab 3-->
         <div class="tab-pane fade" id="trajectory">
            <div style="margin-top:20px">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th scope="col">Yr1</th>
                        <th scope="col">Yr2</th>
                        <th scope="col">Yr3</th>
                        <th scope="col">Yr4</th>
                        <th scope="col">Yr5</th>
                        <th scope="col">Yr6</th>
                        <th scope="col">Yr7</th>
                        <th scope="col">Yr8</th>
                        <th scope="col">Yr9</th>
                        <th scope="col">Yr10</th>
                        <th scope="col">Yr11</th>
                        <th scope="col">Yr12</th>
                        <th scope="col">Yr13</th>
                        <th scope="col">Yr14</th>
                        <th scope="col">Yr15</th>
                        <th scope="col">Yr16</th>
                        <th scope="col">Yr17</th>
                        <th scope="col">Yr18</th>
                        <th scope="col">Yr19</th>
                        <th scope="col">Yr20</th>
                        <th scope="col"><b>Total</b></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td><strong>{{ planningapp.year_01 }}</strong></td>
                        <td><strong>{{ planningapp.year_02 }}</strong></td>
                        <td><strong>{{ planningapp.year_03 }}</strong></td>
                        <td><strong>{{ planningapp.year_04 }}</strong></td>
                        <td><strong>{{ planningapp.year_05 }}</strong></td>
                        <td>{{ planningapp.year_06 }}</td>
                        <td>{{ planningapp.year_07 }}</td>
                        <td>{{ planningapp.year_08 }}</td>
                        <td>{{ planningapp.year_09 }}</td>
                        <td>{{ planningapp.year_10 }}</td>
                        <td>{{ planningapp.year_11 }}</td>
                        <td>{{ planningapp.year_12 }}</td>
                        <td>{{ planningapp.year_13 }}</td>
                        <td>{{ planningapp.year_14 }}</td>
                        <td>{{ planningapp.year_15 }}</td>
                        <td>{{ planningapp.year_16 }}</td>
                        <td>{{ planningapp.year_17 }}</td>
                        <td>{{ planningapp.year_18 }}</td>
                        <td>{{ planningapp.year_19 }}</td>
                        <td>{{ planningapp.year_20 }}</td>
                        <td><strong>{{ planningapp.trajectory_total }}</strong></td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div style="margin-top:20px">
               <div class="alert alert-dismissible alert-warning">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <h5 class="alert-heading">Warning!</h5>
                  <p class="mb-0">Update this to only show if trajectory total doesn't match net commitment</p>
               </div>
               <div style="margin-top:20px">
                  <div class="card border-light mb-3">
                     <div class="card-header">
                        <p>Trajectory comments / justification (public)</p>
                     </div>
                     <div class="card-body">
                        <p class="card-text">{{ planningapp.traj_comments }}</p>
                     </div>
                  </div>
               </div>
               <div style="margin-top:20px">
                  <div class="card border-warning mb-3">
                     <div class="card-header">
                        <p>Internal notes</p>
                     </div>
                     <div class="card-body">
                        <p class="card-text">{{ planningapp.traj_internal_notes }}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- tab 4-->
         <div class="tab-pane fade" id="history">
            <div style="margin-top:20px">
               <div class="card border-light mb-3">
                  <div class="card-header">
                     <p><strong>Planning history</strong>
                     </p>
                  </div>
                  <div class="card-body">
                     <p class="card-text">
                        <strong>Previous apps: </strong>{{ planningapp.planning_history }}
                        <br /> <br /><strong>Application file [external link]: </strong>{{ planningapp.application_docs_url|default_if_none:"" }}
                     </p>
                  </div>
               </div>
               <div class="card border-light mb-3">
                  <div class="card-header">
                     <p><strong>Apps pending consideration: </strong>
                     </p>
                  </div>
                  <div class="card-body">
                     <p class="card-text">
                        <strong>New apps: </strong>{{ planningapp.additional_app }}
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <!-- tab 5-->
         <div class="tab-pane fade" id="map">
            <div style="margin-top:20px">
               <div class="card border-light mb-3">
                  <div class="card-header">
                     <p><strong>Site plan</strong>
                     </p>
                  </div>
                  <div class="card-body">
                     <p class="card-text">
                        [Add image file here:] {{ planningapp.site_plan_url }}<br />
                     </p>
                  </div>
               </div>
               <div class="card border-light mb-3">
                  <div class="card-header">
                     <p>Coordinates & Area
                     </p>
                  </div>
                  <div class="card-body">
                     <p class="card-text">
                     <div class="row">
                        <div class="col">
                           <strong>Easting: </strong>{{ planningapp.easting|default_if_none:"" }}<br />
                           <strong>Northing: </strong>{{ planningapp.northing|default_if_none:"" }}<br />
                        </div>
                        <div class="col">
                           <strong>Area (ha): </strong>{{ planningapp.site_area }}<br />
                           <strong>Density (dph): </strong>{{ planningapp.density }}<br />
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- tab 6-->
         <div class="tab-pane fade" id="notes">
            <div style="margin-top:20px">
               <div class="card border-warning mb-3">
                  <div class="card-header">
                     <p style="text-align:left;"><strong></strong>
                        <span style="float:right;">
                        <strong></strong>
                        </span>
                     </p>
                  </div>
                  <div class="card-body">
                     <p class="card-text"></p>
                  </div>
               </div>
            </div>
         </div>
         <input type="submit" class="btn btn-primary" role="button" value="Submit">
   </form>
   {{ planningapp_form.errors }} {{ note_formset.errors }} {{ plot_formset.errors }}
   {% endblock %}
   <div class="row mt-3">
   </div>
   </div>
</div>


