{% extends "base_generic.html" %}

{% block content %}


<div class="card border-primary mb-3">
  <div class="card-header">Site Details</div>
  <div class="card-body">
    <h4 class="card-title">Site Ref: {{ site.site_ref }}</h4>
    <p class="card-text">
      <div>
      <strong>Site name:</strong> {{ site.site_name }}<br /><br />
      <strong>Created:</strong> {{ site.created_on }} | <strong>Last updated:</strong> {{ site.updated_on }}<br /><br />
  
    <a href="/monitoring/site/add"  class="btn btn-primary" role="button">New</a>
  
    <a href="/monitoring/site/{{ site.id }}/edit" class="btn btn-primary" role="button">Edit</button></a>
  
    <a href="/monitoring/site/{{ site.id }}/delete" class="btn btn-primary" role="button">Delete</button></a>
    <a href="/monitoring/sites/" class="btn btn-primary" role="button">Back</button></a>
    </p>
   </div>
   </div>
  </div>
  
<div class="row mt-3"></div>
{% for app in site.planningapp_set.all %}
<div>
<h4>Planning Approvals for site {{ site.site_ref }}</h4>
</div>

<div class="row mt-3"></div>

<div class="card border-secondary mb-3">
  <div class="card-header"><h4><a href={{ app.get_absolute_url }}>{{app.app_ref }}</a></h4>
  </div>
  
   
  <div class="card-body">
    <h4 class="card-title">{{ app.address }}</h4>
    <p class="card-text">{{ app.current_status }}</p>
      
  </div>
</div>
  
    {% endfor %}
  
{% endblock %}

