{% extends "base_generic.html" %}

{% block content %}
  <h1>Sites</h1>
  {% if site_list %}

<div>
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Site ref</th>
      <th scope="col">Site name</th>
      <th scope="col">Last updated</th>
    </tr>
  </thead>
  <tbody>
    {% for site in site_list %}
    <tr>
      <td><a href="{{ site.get_absolute_url }}">{{ site.site_ref }}</a></td>
      <td>{{site.site_name}}</td>
      <td>{{site.updated_on}}</td>
    </tr>

    {% endfor %}
</tbody>
</table>

<a href="/monitoring/site/add"  class="btn btn-primary" role="button">Add New</a>

  {% else %}
    <p>There are no sites in the database.</p>
  {% endif %}       
{% endblock %}

<a href="/monitoring/site/add"  class="btn btn-primary" role="button">Add New</a>
</div>
