{% extends "base_generic.html" %}

{% block content %}


<div class="card border-primary mb-3">
  <div class="card-header">Site Details</div>
  <div class="card-body">
    <h4 class="card-title">Site Ref: {{ site.site_ref }}</h4>
    <p class="card-text">
      <p><strong>Site name:</strong> <a href="">{{ site.site_name }}</a></p> 
      <p><strong>Created:</strong> {{ site.created_on }}</p>
      <p><strong>Last updated:</strong> {{ site.updated_on }}</p>
    </p>
  </div>
</div>


{% for app in site.planningapp_set.all %}
<h4>Planning Approvals for site {{ site.site_ref }}</h4>

<div class="card border-secondary mb-3">
  <div class="card-header"><h4><a href={{ app.get_absolute_url }}>{{app.app_ref }}</a></h4></div>
   
  <div class="card-body">
    <h4 class="card-title">{{ app.address }}</h4>
    <p class="card-text">{{ app.current_status }}</p>
  </div>
</div>
  
    {% endfor %}
  
{% endblock %}

